In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [100]:
olympic_hosts = pd.read_xml('./data/olympic_hosts.xml')

In [101]:
olympic_hosts.drop(['index'], axis=1, inplace=True)
olympic_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [102]:
olympic_results = pd.read_html('./data/olympic_results.html')[0]

In [10]:
olympic_results.head()

,Unnamed: 0,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [11]:
olympic_results.shape

(162804, 16)

In [103]:
olympic_results.isnull().sum()

Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

In [107]:
olympic_results.drop(['Unnamed: 0', 'athlete_url'], axis=1, inplace=True)
olympic_results = olympic_results.rename({'slug_game':'game_slug'},axis=1)
olympic_results.columns

Index(['discipline_title', 'event_title', 'game_slug', 'participant_type',
       'medal_type', 'athletes', 'rank_equal', 'rank_position', 'country_name',
       'country_code', 'country_3_letter_code', 'athlete_full_name',
       'value_unit', 'value_type'],
      dtype='object')

In [17]:
jo_types = olympic_hosts[['game_slug','game_season', 'game_year']]

In [108]:
hosts_results_merge = olympic_results.merge(jo_types, on='game_slug')
hosts_results_merge.head()

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_full_name,value_unit,value_type,game_season,game_year
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,Winter,2022
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,Winter,2022
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,Winter,2022
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,Winter,2022
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,Winter,2022

In [20]:
hosts_results_merge.game_season.unique()

array(['Winter', 'Summer'], dtype=object)

In [109]:
winter_games_results = hosts_results_merge.loc[(hosts_results_merge.game_season == 'Winter')].copy()
summer_games_results = hosts_results_merge.loc[(hosts_results_merge.game_season == 'Summer')].copy()

In [110]:
summer_games_results.drop(['game_season'], axis=1, inplace=True)
summer_games_results.head()

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_full_name,value_unit,value_type,game_year
3784,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,ESP,NaN,NaN,NaN,2020
3785,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,SMR,NaN,NaN,NaN,2020
3786,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,USA,NaN,NaN,NaN,2020
3787,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,SVK,NaN,NaN,NaN,2020
3788,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,JPN,NaN,NaN,NaN,2020

In [111]:
summer_games_results.isnull().sum()

discipline_title              0
event_title                   0
game_slug                     0
participant_type              0
medal_type               101672
athletes                 112310
rank_equal                90721
rank_position              3858
country_name                  0
country_code               3555
country_3_letter_code         0
athlete_full_name         16658
value_unit                68966
value_type                61920
game_year                     0
dtype: int64

In [112]:
summer_games_results.duplicated().sum()

112

In [27]:
summer_games_results.medal_type.unique()

array(['GOLD', 'SILVER', 'BRONZE', nan], dtype=object)

In [114]:
summer_games_results['medal_type'] = summer_games_results['medal_type'].fillna('None')

In [115]:
summer_games_results['total_medals'] = summer_games_results['medal_type'].apply(lambda x: 0 if x == 'None' else 1)
summer_games_results['gold_medals'] = summer_games_results['medal_type'].apply(lambda x: 1 if x == 'GOLD' else 0)
summer_games_results['silver_medals'] = summer_games_results['medal_type'].apply(lambda x: 1 if x == 'SILVER' else 0)
summer_games_results['bronze_medals'] = summer_games_results['medal_type'].apply(lambda x: 1 if x == 'BRONZE' else 0)

In [116]:
summer_games_results

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_full_name,value_unit,value_type,game_year,total_medals,gold_medals,silver_medals,bronze_medals
3784,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,ESP,NaN,NaN,NaN,2020,1,1,0,0
3785,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,SMR,NaN,NaN,NaN,2020,1,0,1,0
3786,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,USA,NaN,NaN,NaN,2020,1,0,0,1
3787,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,None,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,SVK,NaN,NaN,NaN,2020,0,0,0,0
3788,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,None,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,JPN,NaN,NaN,NaN,2020,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Weightlifting,heavyweight - two hand lift men,athens-1896,Athlete,SILVER,NaN,NaN,2,Great Britain,GB,GBR,Launceston ELLIOT,111.5,WEIGHT,1896,1,0,1,0
162800,Weightlifting,heavyweight - two hand lift men,athens-1896,Athlete,BRONZE,NaN,NaN,3,Greece,GR,GRE,Sotirios VERSIS,90,WEIGHT,1896,1,0,0,1
162801,Weightlifting,heavyweight - two hand lift men,athens-1896,Athlete,None,NaN,True,4,Greece,GR,GRE,Georgios PAPASIDERIS,90,WEIGHT,1896,0,0,0,0
162802,Weightlifting,heavyweight - two hand lift men,athens-1896,Athlete,None,NaN,True,4,Germany,DE,GER,Carl SCHUHMANN,90,WEIGHT,1896,0,0,0,0
162803,Weightlifting,heavyweight - two hand lift men,athens-1896,Athlete,None,NaN,NaN,6,Hungary,HU,HUN,Momcsillo TAPAVICZA,80,WEIGHT,1896,0,0,0,0

In [31]:
summer_games_results.country_name.unique()

array(['Spain', 'San Marino', 'United States of America', 'Slovakia',
       'Japan', 'Australia', "People's Republic of China",
       'Great Britain', 'ROC', 'Italy', 'Mexico', 'Egypt', 'Belarus',
       'Islamic Republic of Iran', 'Switzerland', 'Norway', 'Serbia',
       'Germany', 'Indonesia', 'Czech Republic', 'Mongolia',
       'Puerto Rico', 'Poland', 'Republic of Korea', 'Uzbekistan',
       'Malaysia', 'Slovenia', 'Hungary', 'Cuba', 'France', 'India',
       'Denmark', 'Croatia', 'Ukraine', 'Oman', 'Argentina', 'Turkey',
       'Kazakhstan', 'Venezuela', 'Lithuania', 'Estonia', 'Colombia',
       'Azerbaijan', 'Peru', 'Pakistan', 'Thailand', 'Israel',
       'Philippines', 'Austria', 'Chinese Taipei', 'Bangladesh',
       'Afghanistan', 'Kosovo', 'Romania', 'Singapore', 'Belgium',
       'Bhutan', 'Algeria', 'Sri Lanka', 'Kyrgyzstan',
       'Bosnia and Herzegovina', 'Nepal', 'Refugee Olympic Team',
       'Ireland', 'Portugal', 'Qatar', 'Kuwait', 'Cyprus', 'Morocco',
       'Bahrain', 'Senegal', 'New Zealand', 'Chile', 'Guatemala',
       'Lebanon', 'Finland', 'Bulgaria', 'Iraq', 'Ecuador', 'Greece',
       'Albania', 'Latvia', 'Jordan', 'Yemen', 'Tunisia', 'Georgia',
       'Montenegro', 'Armenia', 'Malta', 'Canada', 'Republic of Moldova',
       'Brazil', 'North Macedonia', 'Aruba', 'Myanmar', 'Vietnam',
       'Nicaragua', 'Iceland', 'Saudi Arabia', 'Sweden',
       'United Arab Emirates', 'Jamaica', 'Dominican Republic',
       'Netherlands', 'South Africa', 'Nigeria', 'Sao Tome and Principe',
       'Samoa', 'Cook Islands', 'Mozambique', 'Belize', 'Ethiopia',
       'Eritrea', 'Trinidad and Tobago', 'Luxembourg', 'Costa Rica',
       'Paraguay', 'Namibia', 'Hong Kong, China', 'Rwanda',
       'Burkina Faso', 'Panama', 'Zambia', "CÃ´te d'Ivoire", 'Honduras',
       'Mauritius', 'Eswatini', 'Uganda', 'Cameroon', 'Haiti',
       'Democratic Republic of the Congo', 'Tajikistan', 'Ghana', 'Kenya',
       'Guyana', 'Burundi', 'Botswana', 'Cape Verde', 'Somalia',
       'El Salvador', 'Antigua and Barbuda', 'Papua New Guinea',
       'Liechtenstein', 'Angola', 'Fiji', 'Bermuda',
       'Syrian Arab Republic', 'Vanuatu', 'Togo', 'Monaco', 'Andorra',
       'Mali', 'Gabon', 'Niger', 'Tonga', 'Suriname', 'Maldives',
       'Guinea-Bissau', 'Guam', 'Guinea', 'Bolivia', 'Zimbabwe', 'Chad',
       'Kiribati', 'Comoros', 'Uruguay', 'Sierra Leone', 'Palestine',
       'Sudan', 'Djibouti', 'Gambia', 'Malawi', 'Libya', 'Benin',
       'Seychelles', "Lao People's Democratic Republic", 'Madagascar',
       'Turkmenistan', 'Virgin Islands, US', 'Solomon Islands', 'Nauru',
       'American Samoa', 'Virgin Islands, British', 'Lesotho',
       'United Republic of Tanzania', 'Liberia', 'Bahamas', 'Dominica',
       'Grenada', 'Saint Lucia', 'Russian Federation', 'Ivory Coast',
       'Independent Olympic Athletes',
       "Democratic People's Republic of Korea",
       'The Former Yugoslav Republic of Macedonia', 'Barbados',
       'Cambodia', 'Equatorial Guinea', 'Congo', 'South Sudan',
       'Refugee Olympic Athletes', 'Marshall Islands', 'Palau',
       'Democratic Republic of Timor-Leste', 'US Virgin Islands',
       'Federated States of Micronesia', 'Central African Republic',
       'Cayman Islands', 'Brunei', 'Saint Vincent and the Grenadines',
       'British Virgin Islands', 'Swaziland', 'Saint Kitts and Nevis',
       'Tuvalu', 'Netherlands Antilles', 'Serbia and Montenegro',
       'Unified Team', 'Czechoslovakia', 'Mauritania', 'Soviet Union',
       'Federal Republic of Germany',
       'German Democratic Republic (Germany)', 'Yugoslavia',
       'Yemen Arab Republic', 'Yemen Democratic Republic',
       'South Vietnam', 'Rhodesia', 'United Arab Republic', 'Malaya',
       'West Indies Federation', 'North Borneo', 'Saar', 'Australasia',
       'Bohemia', 'MIX', 'Newfoundland'], dtype=object)

In [32]:
historic_medalsbycountry = summer_games_results.groupby(['game_year','country_name']).agg({'total_medals':'sum', 'gold_medals':'sum', 'silver_medals':'sum','bronze_medals':'sum'})

In [33]:
historic_medalsbycountry = historic_medalsbycountry.sort_values(by=['game_year','total_medals'],ascending=[True, False]).reset_index()

In [34]:
historic_medalsbycountry

,game_year,country_name,total_medals,gold_medals,silver_medals,bronze_medals
0,1896,Greece,47,10,18,19
1,1896,United States of America,20,11,7,2
2,1896,Germany,13,6,5,2
3,1896,France,11,5,4,2
4,1896,Great Britain,7,2,3,2
...,...,...,...,...,...,...
2884,2020,"Virgin Islands, British",0,0,0,0
2885,2020,"Virgin Islands, US",0,0,0,0
2886,2020,Yemen,0,0,0,0
2887,2020,Zambia,0,0,0,0
2888,2020,Zimbabwe,0,0,0,0

In [35]:
historic_sportsbycountry = summer_games_results.groupby(['game_year','country_name','discipline_title']).count()
historic_sportsbycountry

                                         event_title  game_slug  \
game_year country_name discipline_title
1896      Australia    Athletics                   3          3
                       Tennis                      1          1
          Austria      Cycling Track               4          4
                       Fencing                     1          1
                       Swimming                    4          4
...                                              ...        ...
2020      Zambia       Boxing                      3          3
                       Football                    1          1
                       Judo                        1          1
          Zimbabwe     Golf                        1          1
                       Rowing                      1          1

                                         participant_type  medal_type  \
game_year country_name discipline_title
1896      Australia    Athletics                        3           3
                       Tennis                           1           1
          Austria      Cycling Track                    4           4
                       Fencing                          1           1
                       Swimming                         4           4
...                                                   ...         ...
2020      Zambia       Boxing                           3           3
                       Football                         1           1
                       Judo                             1           1
          Zimbabwe     Golf                             1           1
                       Rowing                           1           1

                                         athletes  rank_equal  rank_position  \
game_year country_name discipline_title
1896      Australia    Athletics                0           0              3
                       Tennis                   0           1              1
          Austria      Cycling Track            0           0              4
                       Fencing                  0           0              1
                       Swimming                 0           0              4
...                                           ...         ...            ...
2020      Zambia       Boxing                   0           3              3
                       Football                 0           1              1
                       Judo                     0           1              1
          Zimbabwe     Golf                     0           1              1
                       Rowing                   0           1              1

                                         country_code  country_3_letter_code  \
game_year country_name discipline_title
1896      Australia    Athletics                    3                      3
                       Tennis                       1                      1
          Austria      Cycling Track                4                      4
                       Fencing                      1                      1
                       Swimming                     4                      4
...                                               ...                    ...
2020      Zambia       Boxing                       3                      3
                       Football                     1                      1
                       Judo                         1                      1
          Zimbabwe     Golf                         1                      1
                       Rowing                       1                      1

                                         athlete_full_name  value_unit  \
game_year country_name discipline_title
1896      Australia    Athletics                         3           2
                       Tennis                            1           0
          Austria      Cycling Track                     4           2
                       Fencing                           1           0
                       Swimming                          4           2
...                                                    ...         ...
2020      Zambia       Boxing                            3           0
                       Football                          0           0
                       Judo                              1           0
          Zimbabwe     Golf                              1           1
                       Rowing                            1           0

                                         value_type  total_medals  \
game_year country_name discipline_title
1896      Australia    Athletics                  3             3
                       Tennis                     0             1
          Austria      Cycling Track              4             4
                       Fencing                    0             1
                       Swimming                   4             4
...                                             ...           ...
2020      Zambia       Boxing                     0             3
                       Football                   0             1
                       Judo                       0             1
          Zimbabwe     Golf                       1             1
                       Rowing                     1             1

                                         gold_medals  silver_medals  \
game_year country_name discipline_title
1896      Australia    Athletics                   3              3
                       Tennis                      1              1
          Austria      Cycling Track               4              4
                       Fencing                     1              1
                       Swimming                    4              4
...                                              ...            ...
2020      Zambia       Boxing                      3              3
                       Football                    1              1
                       Judo                        1              1
          Zimbabwe     Golf                        1              1
                       Rowing                      1              1

                                         bronze_medals
game_year country_name discipline_title
1896      Australia    Athletics                     3
                       Tennis                        1
          Austria      Cycling Track                 4
                       Fencing                       1
                       Swimming                      4
...                                                ...
2020      Zambia       Boxing                        3
                       Football                      1
                       Judo                          1
          Zimbabwe     Golf                          1
                       Rowing                        1

[23456 rows x 16 columns]

In [36]:
historic_sportsbycountry = historic_sportsbycountry[['event_title']].reset_index()
historic_sportsbycountry = historic_sportsbycountry.rename({'discipline_title':'sports', 'event_title':'epreuves'},axis=1)
historic_sportsbycountry

       game_year country_name         sports  epreuves
0           1896    Australia      Athletics         3
1           1896    Australia         Tennis         1
2           1896      Austria  Cycling Track         4
3           1896      Austria        Fencing         1
4           1896      Austria       Swimming         4
...          ...          ...            ...       ...
23451       2020       Zambia         Boxing         3
23452       2020       Zambia       Football         1
23453       2020       Zambia           Judo         1
23454       2020     Zimbabwe           Golf         1
23455       2020     Zimbabwe         Rowing         1

[23456 rows x 4 columns]

In [37]:
historic_sportsbycountry = historic_sportsbycountry.groupby(['game_year','country_name']).agg({'sports':'count'})

In [38]:
historic_sportsbycountry = historic_sportsbycountry.reset_index()
historic_sportsbycountry

      game_year             country_name  sports
0          1896                Australia       2
1          1896                  Austria       3
2          1896                    Chile       1
3          1896                  Denmark       6
4          1896                   France       7
...         ...                      ...     ...
2884       2020  Virgin Islands, British       1
2885       2020       Virgin Islands, US       1
2886       2020                    Yemen       2
2887       2020                   Zambia       3
2888       2020                 Zimbabwe       2

[2889 rows x 3 columns]

In [39]:
historic_epreuvesbycountry = summer_games_results.groupby(['game_year','country_name','event_title']).count()
historic_epreuvesbycountry

                                                     discipline_title  \
game_year country_name event_title
1896      Australia    1500m men                                    1
                       800m men                                     1
                       Singles men                                  1
                       marathon men                                 1
          Austria      100km men                                    1
...                                                               ...
2020      Zambia       Men's Fly (48-52kg)                          1
                       Men's Welter (63-69kg)                       1
                       Women                                        1
          Zimbabwe     Men's Individual Stroke Play                 1
                       Men's Single Sculls                          1

                                                     game_slug  \
game_year country_name event_title
1896      Australia    1500m men                             1
                       800m men                              1
                       Singles men                           1
                       marathon men                          1
          Austria      100km men                             1
...                                                        ...
2020      Zambia       Men's Fly (48-52kg)                   1
                       Men's Welter (63-69kg)                1
                       Women                                 1
          Zimbabwe     Men's Individual Stroke Play          1
                       Men's Single Sculls                   1

                                                     participant_type  \
game_year country_name event_title
1896      Australia    1500m men                                    1
                       800m men                                     1
                       Singles men                                  1
                       marathon men                                 1
          Austria      100km men                                    1
...                                                               ...
2020      Zambia       Men's Fly (48-52kg)                          1
                       Men's Welter (63-69kg)                       1
                       Women                                        1
          Zimbabwe     Men's Individual Stroke Play                 1
                       Men's Single Sculls                          1

                                                     medal_type  athletes  \
game_year country_name event_title
1896      Australia    1500m men                              1         0
                       800m men                               1         0
                       Singles men                            1         0
                       marathon men                           1         0
          Austria      100km men                              1         0
...                                                         ...       ...
2020      Zambia       Men's Fly (48-52kg)                    1         0
                       Men's Welter (63-69kg)                 1         0
                       Women                                  1         0
          Zimbabwe     Men's Individual Stroke Play           1         0
                       Men's Single Sculls                    1         0

                                                     rank_equal  \
game_year country_name event_title
1896      Australia    1500m men                              0
                       800m men                               0
                       Singles men                            1
                       marathon men                           0
          Austria      100km men                              0
...                                                         ...
2020      Zambia       Men's Fly (48-52kg)                    1
                       Men's Welter (63-69kg)                 1
                       Women                                  1
          Zimbabwe     Men's Individual Stroke Play           1
                       Men's Single Sculls                    1

                                                     rank_position  \
game_year country_name event_title
1896      Australia    1500m men                                 1
                       800m men                                  1
                       Singles men                               1
                       marathon men                              1
          Austria      100km men                                 1
...                                                            ...
2020      Zambia       Men's Fly (48-52kg)                       1
                       Men's Welter (63-69kg)                    1
                       Women                                     1
          Zimbabwe     Men's Individual Stroke Play              1
                       Men's Single Sculls                       1

                                                     country_code  \
game_year country_name event_title
1896      Australia    1500m men                                1
                       800m men                                 1
                       Singles men                              1
                       marathon men                             1
          Austria      100km men                                1
...                                                           ...
2020      Zambia       Men's Fly (48-52kg)                      1
                       Men's Welter (63-69kg)                   1
                       Women                                    1
          Zimbabwe     Men's Individual Stroke Play             1
                       Men's Single Sculls                      1

                                                     country_3_letter_code  \
game_year country_name event_title
1896      Australia    1500m men                                         1
                       800m men                                          1
                       Singles men                                       1
                       marathon men                                      1
          Austria      100km men                                         1
...                                                                    ...
2020      Zambia       Men's Fly (48-52kg)                               1
                       Men's Welter (63-69kg)                            1
                       Women                                             1
          Zimbabwe     Men's Individual Stroke Play                      1
                       Men's Single Sculls                               1

                                                     athlete_full_name  \
game_year country_name event_title
1896      Australia    1500m men                                     1
                       800m men                                      1
                       Singles men                                   1
                       marathon men                                  1
          Austria      100km men                                     1
...                                                                ...
2020      Zambia       Men's Fly (48-52kg)                           1
                       Men's Welter (63-69kg)                        1
                       Women                                         0
          Zimbabwe     Men's Individual Stroke Play                  1
                       Men's Single Sculls                           1

                                                     value_unit  value_type  \
game_year country_name event_title
1896      Australia    1500m men                              1           1
                       800m men                               1           1
                       Singles men                            0           0
                       marathon men                           0           1
          Austria      100km men                              0           1
...                                                         ...         ...
2020      Zambia       Men's Fly (48-52kg)                    0           0
                       Men's Welter (63-69kg)                 0           0
                       Women                                  0           0
          Zimbabwe     Men's Individual Stroke Play           1           1
                       Men's Single Sculls                    0           1

                                                     total_medals  \
game_year country_name event_title
1896      Australia    1500m men                                1
                       800m men                                 1
                       Singles men                              1
                       marathon men                             1
          Austria      100km men                                1
...                                                           ...
2020      Zambia       Men's Fly (48-52kg)                      1
                       Men's Welter (63-69kg)                   1
                       Women                                    1
          Zimbabwe     Men's Individual Stroke Play             1
                       Men's Single Sculls                      1

                                                     gold_medals  \
game_year country_name event_title
1896      Australia    1500m men                               1
                       800m men                                1
                       Singles men                             1
                       marathon men                            1
          Austria      100km men                               1
...                                                          ...
2020      Zambia       Men's Fly (48-52kg)                     1
                       Men's Welter (63-69kg)                  1
                       Women                                   1
          Zimbabwe     Men's Individual Stroke Play            1
                       Men's Single Sculls                     1

                                                     silver_medals  \
game_year country_name event_title
1896      Australia    1500m men                                 1
                       800m men                                  1
                       Singles men                               1
                       marathon men                              1
          Austria      100km men                                 1
...                                                            ...
2020      Zambia       Men's Fly (48-52kg)                       1
                       Men's Welter (63-69kg)                    1
                       Women                                     1
          Zimbabwe     Men's Individual Stroke Play              1
                       Men's Single Sculls                       1

                                                     bronze_medals
game_year country_name event_title
1896      Australia    1500m men                                 1
                       800m men                                  1
                       Singles men                               1
                       marathon men                              1
          Austria      100km men                                 1
...                                                            ...
2020      Zambia       Men's Fly (48-52kg)                       1
                       Men's Welter (63-69kg)                    1
                       Women                                     1
          Zimbabwe     Men's Individual Stroke Play              1
                       Men's Single Sculls                       1

[80265 rows x 16 columns]

In [40]:
historic_epreuvesbycountry = historic_epreuvesbycountry[['discipline_title']].reset_index()
historic_epreuvesbycountry = historic_epreuvesbycountry.rename({'event_title':'epreuves', 'discipline_title':'participation'},axis=1)
historic_epreuvesbycountry = historic_epreuvesbycountry.groupby(['game_year','country_name']).agg({'epreuves':'count'})
historic_epreuvesbycountry = historic_epreuvesbycountry.reset_index()
historic_epreuvesbycountry

      game_year             country_name  epreuves
0          1896                Australia         4
1          1896                  Austria         8
2          1896                    Chile         2
3          1896                  Denmark        14
4          1896                   France        20
...         ...                      ...       ...
2884       2020  Virgin Islands, British         2
2885       2020       Virgin Islands, US         1
2886       2020                    Yemen         2
2887       2020                   Zambia         5
2888       2020                 Zimbabwe         2

[2889 rows x 3 columns]

In [41]:
historic_olympic_data = historic_medalsbycountry.merge(historic_sportsbycountry, on=['game_year','country_name'])
historic_olympic_data = historic_olympic_data.merge(historic_epreuvesbycountry, on=['game_year','country_name'])
historic_olympic_data = historic_olympic_data.sort_values(by=['game_year','total_medals'],ascending=[True, False])
historic_olympic_data

,game_year,country_name,total_medals,gold_medals,silver_medals,bronze_medals,sports,epreuves
0,1896,Greece,47,10,18,19,10,39
1,1896,United States of America,20,11,7,2,3,17
2,1896,Germany,13,6,5,2,7,27
3,1896,France,11,5,4,2,7,20
4,1896,Great Britain,7,2,3,2,9,20
...,...,...,...,...,...,...,...,...
2884,2020,"Virgin Islands, British",0,0,0,0,1,2
2885,2020,"Virgin Islands, US",0,0,0,0,1,1
2886,2020,Yemen,0,0,0,0,2,2
2887,2020,Zambia,0,0,0,0,3,5
2888,2020,Zimbabwe,0,0,0,0,2,2

In [42]:
game_part = summer_games_results.groupby(['country_name','game_year']).agg({'total_medals':'sum', 'gold_medals':'sum', 'silver_medals':'sum','bronze_medals':'sum'})
game_part

                        total_medals  gold_medals  silver_medals  \
country_name game_year
Afghanistan  1936                  0            0              0
             1948                  0            0              0
             1956                  0            0              0
             1960                  0            0              0
             1964                  0            0              0
...                              ...          ...            ...
Zimbabwe     2004                  3            1              1
             2008                  4            1              3
             2012                  0            0              0
             2016                  0            0              0
             2020                  0            0              0

                        bronze_medals
country_name game_year
Afghanistan  1936                   0
             1948                   0
             1956                   0
             1960                   0
             1964                   0
...                               ...
Zimbabwe     2004                   1
             2008                   0
             2012                   0
             2016                   0
             2020                   0

[2889 rows x 4 columns]

In [43]:
game_p = game_part.reset_index()
game_p_france = game_p.loc[(game_p.country_name=='France')]
game_p_france

,country_name,game_year,total_medals,gold_medals,silver_medals,bronze_medals
886,France,1896,11,5,4,2
887,France,1900,97,26,36,35
888,France,1904,1,0,1,0
889,France,1908,19,5,5,9
890,France,1912,14,7,4,3
891,France,1920,41,9,19,13
892,France,1924,38,13,15,10
893,France,1928,21,6,10,5
894,France,1932,19,10,5,4
895,France,1936,18,7,5,6
896,France,1948,29,10,6,13
897,France,1952,17,5,6,6
898,France,1956,14,4,4,6
899,France,1960,5,0,2,3
900,France,1964,15,1,8,6
901,France,1968,15,7,3,5
902,France,1972,13,2,4,7
903,France,1976,9,2,3,4
904,France,1980,14,6,5,3
905,France,1984,28,5,7,16
906,France,1988,16,6,4,6
907,France,1992,29,8,5,16
908,France,1996,37,15,7,15
909,France,2000,38,13,14,11
910,France,2004,33,11,9,13
911,France,2008,41,6,15,20
912,France,2012,35,11,11,13
913,France,2016,42,10,18,14
914,France,2020,33,10,12,11

In [44]:
import warnings
warnings.filterwarnings('ignore')

In [45]:
game_p_france = game_p.loc[(game_p.country_name=='France')]
game_p_france['game_part'] = range(0, game_p_france.shape[0])
game_p_france['prec_game_medal'] = game_p_france['total_medals'].shift(1, fill_value=0)
game_p_france['prec_game_gold'] = game_p_france['gold_medals'].shift(1, fill_value=0)
game_p_france['prec_game_silver'] = game_p_france['silver_medals'].shift(1, fill_value=0)
game_p_france['prec_game_bronze'] = game_p_france['bronze_medals'].shift(1, fill_value=0)
#game_p_france['total_game_medal'] = 0
#game_p_france['total_game_medal'] = game_p_france['total_game_medal'].shift(1, fill_value=0) + game_p_france['total_medals'].shift(1, fill_value=0)
#game_p_france['prec_game_medal'].shift(1, fill_value=0) + game_p_france['prec_game_medal'].shift(2, fill_value=0)
game_p_france

,country_name,game_year,total_medals,gold_medals,silver_medals,bronze_medals,game_part,prec_game_medal,prec_game_gold,prec_game_silver,prec_game_bronze
886,France,1896,11,5,4,2,0,0,0,0,0
887,France,1900,97,26,36,35,1,11,5,4,2
888,France,1904,1,0,1,0,2,97,26,36,35
889,France,1908,19,5,5,9,3,1,0,1,0
890,France,1912,14,7,4,3,4,19,5,5,9
891,France,1920,41,9,19,13,5,14,7,4,3
892,France,1924,38,13,15,10,6,41,9,19,13
893,France,1928,21,6,10,5,7,38,13,15,10
894,France,1932,19,10,5,4,8,21,6,10,5
895,France,1936,18,7,5,6,9,19,10,5,4
896,France,1948,29,10,6,13,10,18,7,5,6
897,France,1952,17,5,6,6,11,29,10,6,13
898,France,1956,14,4,4,6,12,17,5,6,6
899,France,1960,5,0,2,3,13,14,4,4,6
900,France,1964,15,1,8,6,14,5,0,2,3
901,France,1968,15,7,3,5,15,15,1,8,6
902,France,1972,13,2,4,7,16,15,7,3,5
903,France,1976,9,2,3,4,17,13,2,4,7
904,France,1980,14,6,5,3,18,9,2,3,4
905,France,1984,28,5,7,16,19,14,6,5,3
906,France,1988,16,6,4,6,20,28,5,7,16
907,France,1992,29,8,5,16,21,16,6,4,6
908,France,1996,37,15,7,15,22,29,8,5,16
909,France,2000,38,13,14,11,23,37,15,7,15
910,France,2004,33,11,9,13,24,38,13,14,11
911,France,2008,41,6,15,20,25,33,11,9,13
912,France,2012,35,11,11,13,26,41,6,15,20
913,France,2016,42,10,18,14,27,35,11,11,13
914,France,2020,33,10,12,11,28,42,10,18,14

In [46]:
game_p

,country_name,game_year,total_medals,gold_medals,silver_medals,bronze_medals
0,Afghanistan,1936,0,0,0,0
1,Afghanistan,1948,0,0,0,0
2,Afghanistan,1956,0,0,0,0
3,Afghanistan,1960,0,0,0,0
4,Afghanistan,1964,0,0,0,0
...,...,...,...,...,...,...
2884,Zimbabwe,2004,3,1,1,1
2885,Zimbabwe,2008,4,1,3,0
2886,Zimbabwe,2012,0,0,0,0
2887,Zimbabwe,2016,0,0,0,0
2888,Zimbabwe,2020,0,0,0,0

In [47]:
liste_country = list(game_p.country_name.unique())
liste_country.remove('France')
liste_country

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australasia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bohemia',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Czechoslovakia',
 "CÃ´te d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of Timor-Leste',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Federal Republic of Germany',
 'Federated States of Micronesia',
 'Fiji',
 'Finland',
 'Gabon',
 'Gambia',
 'Georgia',
 'German Democratic Republic (Germany)',
 'Germany',
 'Ghana',
 'Great Britain',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong, China',
 'Hungary',
 'Iceland',
 'Independent Olympic Athletes',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Islamic Republic of Iran',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MIX',
 'Madagascar',
 'Malawi',
 'Malaya',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Zealand',
 'Newfoundland',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Borneo',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 "People's Republic of China",
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'ROC',
 'Refugee Olympic Athletes',
 'Refugee Olympic Team',
 'Republic of Korea',
 'Republic of Moldova',
 'Rhodesia',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saar',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'South Vietnam',
 'Soviet Union',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The Former Yugoslav Republic of Macedonia',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'US Virgin Islands',
 'Uganda',
 'Ukraine',
 'Unified Team',
 'United Arab Emirates',
 'United Arab Republic',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'West Indies Federation',
 'Yemen',
 'Yemen Arab Republic',
 'Yemen Democratic Republic',
 'Yugoslavia',
 'Zambia',
 'Zimbabwe']

In [48]:
for country in liste_country:
    game_p_temp = game_p.loc[(game_p.country_name==country)]
    game_p_temp['game_part'] = range(0, game_p_temp.shape[0])
    game_p_temp['prec_game_medal'] = game_p_temp['total_medals'].shift(1, fill_value=0)
    game_p_temp['prec_game_gold'] = game_p_temp['gold_medals'].shift(1, fill_value=0)
    game_p_temp['prec_game_silver'] = game_p_temp['silver_medals'].shift(1, fill_value=0)
    game_p_temp['prec_game_bronze'] = game_p_temp['bronze_medals'].shift(1, fill_value=0)
    game_p_france = pd.concat([game_p_france,game_p_temp])

In [49]:
game_p_france.columns

Index(['country_name', 'game_year', 'total_medals', 'gold_medals',
       'silver_medals', 'bronze_medals', 'game_part', 'prec_game_medal',
       'prec_game_gold', 'prec_game_silver', 'prec_game_bronze'],
      dtype='object')

In [50]:
game_p_france = game_p_france[['game_year', 'country_name', 'total_medals', 'gold_medals', 'silver_medals', 'bronze_medals', 'game_part', 'prec_game_medal', 'prec_game_gold', 'prec_game_silver', 'prec_game_bronze']]

In [51]:
game_p_france = game_p_france.sort_values(by=['game_year','total_medals'],ascending=[True, False])
game_p_france

,game_year,country_name,total_medals,gold_medals,silver_medals,bronze_medals,game_part,prec_game_medal,prec_game_gold,prec_game_silver,prec_game_bronze
1008,1896,Greece,47,10,18,19,0,0,0,0,0
2738,1896,United States of America,20,11,7,2,0,0,0,0,0
943,1896,Germany,13,6,5,2,0,0,0,0,0
886,1896,France,11,5,4,2,0,0,0,0,0
979,1896,Great Britain,7,2,3,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2831,2020,"Virgin Islands, British",0,0,0,0,0,0,0,0,0
2832,2020,"Virgin Islands, US",0,0,0,0,0,0,0,0,0
2840,2020,Yemen,0,0,0,0,6,0,0,0,0
2874,2020,Zambia,0,0,0,0,14,0,0,0,0
2888,2020,Zimbabwe,0,0,0,0,13,0,0,0,0

In [52]:
game_p_france = game_p_france[['game_year', 'country_name', 'game_part', 'prec_game_medal', 'prec_game_gold', 'prec_game_silver', 'prec_game_bronze']]
game_p_france

,game_year,country_name,game_part,prec_game_medal,prec_game_gold,prec_game_silver,prec_game_bronze
1008,1896,Greece,0,0,0,0,0
2738,1896,United States of America,0,0,0,0,0
943,1896,Germany,0,0,0,0,0
886,1896,France,0,0,0,0,0
979,1896,Great Britain,0,0,0,0,0
...,...,...,...,...,...,...,...
2831,2020,"Virgin Islands, British",0,0,0,0,0
2832,2020,"Virgin Islands, US",0,0,0,0,0
2840,2020,Yemen,6,0,0,0,0
2874,2020,Zambia,14,0,0,0,0
2888,2020,Zimbabwe,13,0,0,0,0

In [53]:
historic_olympic_data = pd.merge(historic_olympic_data, game_p_france, on=['game_year','country_name'])

In [54]:
historic_olympic_data = historic_olympic_data.sort_values(by=['game_year','total_medals'],ascending=[True, False])

#### Separation des données en set d'entrainement (tout avant 2020) et de test (JO 2020)

In [55]:
country_replace = {
    'Unified Team': 'Russia',
    'Repuclic of Korea': 'South Korea',
    "People's Republic of China": 'China',
    'Russian Federation': 'Russia', 
    'Soviet Union': 'Russia', 
    'ROC': 'Russia', 
    'Federal Republic of Germany': 'Germany',
    'German Democratic Republic (Germany)': 'Germany',  
    'Australia, Sweden': 'Australia', 
    'Yugoslavia': 'Bosnia and Herzegovina'
}
historic_olympic_data['country_name'] = historic_olympic_data['country_name'].replace(country_replace)

In [56]:
# Tambouille pour encoder la colonne country_name
liste_pays = list(historic_olympic_data.country_name.unique())
dict_pays = {}
for pays in enumerate(liste_pays):
    dict_pays[pays[1]] = pays[0]

In [57]:
dict_pays

{'Greece': 0,
 'United States of America': 1,
 'Germany': 2,
 'France': 3,
 'Great Britain': 4,
 'Denmark': 5,
 'Hungary': 6,
 'Austria': 7,
 'Switzerland': 8,
 'Australia': 9,
 'MIX': 10,
 'Chile': 11,
 'Italy': 12,
 'Sweden': 13,
 'Belgium': 14,
 'Netherlands': 15,
 'Norway': 16,
 'Bohemia': 17,
 'Canada': 18,
 'Cuba': 19,
 'India': 20,
 'Luxembourg': 21,
 'Spain': 22,
 'Argentina': 23,
 'Brazil': 24,
 'New Zealand': 25,
 'Romania': 26,
 'Russia': 27,
 'Newfoundland': 28,
 'South Africa': 29,
 'Australasia': 30,
 'Finland': 31,
 'Iceland': 32,
 'Turkey': 33,
 'Japan': 34,
 'Portugal': 35,
 'Serbia': 36,
 'Estonia': 37,
 'Czechoslovakia': 38,
 'Egypt': 39,
 'Monaco': 40,
 'Poland': 41,
 'Bosnia and Herzegovina': 42,
 'Haiti': 43,
 'Uruguay': 44,
 'Bulgaria': 45,
 'Ecuador': 46,
 'Ireland': 47,
 'Latvia': 48,
 'Lithuania': 49,
 'Mexico': 50,
 'Philippines': 51,
 'Malta': 52,
 'Zimbabwe': 53,
 'Colombia': 54,
 'Afghanistan': 55,
 'Bermuda': 56,
 'Liechtenstein': 57,
 'China': 58,
 'Peru': 59,
 'Jamaica': 60,
 'Panama': 61,
 'Republic of Korea': 62,
 'Islamic Republic of Iran': 63,
 'Puerto Rico': 64,
 'Sri Lanka': 65,
 'Trinidad and Tobago': 66,
 'Guyana': 67,
 'Iraq': 68,
 'Lebanon': 69,
 'Myanmar': 70,
 'Pakistan': 71,
 'Singapore': 72,
 'Syrian Arab Republic': 73,
 'Venezuela': 74,
 'Bahamas': 75,
 'Ghana': 76,
 'Guatemala': 77,
 'Indonesia': 78,
 'Israel': 79,
 'Netherlands Antilles': 80,
 'Nigeria': 81,
 'Saar': 82,
 'South Vietnam': 83,
 'Thailand': 84,
 'Chinese Taipei': 85,
 'Ethiopia': 86,
 'Fiji': 87,
 'Kenya': 88,
 'Liberia': 89,
 'Malaya': 90,
 'North Borneo': 91,
 'Uganda': 92,
 'United Arab Republic': 93,
 'West Indies Federation': 94,
 'Morocco': 95,
 'Hong Kong, China': 96,
 'Rhodesia': 97,
 'San Marino': 98,
 'Somalia': 99,
 'Sudan': 100,
 'Suriname': 101,
 'Tunisia': 102,
 'Algeria': 103,
 'Bolivia': 104,
 'Cambodia': 105,
 'Chad': 106,
 'Congo': 107,
 'Costa Rica': 108,
 "Democratic People's Republic of Korea": 109,
 'Ivory Coast': 110,
 'Libya': 111,
 'Madagascar': 112,
 'Malaysia': 113,
 'Mali': 114,
 'Mongolia': 115,
 'Nepal': 116,
 'Niger': 117,
 'Senegal': 118,
 'United Republic of Tanzania': 119,
 'Zambia': 120,
 'Cameroon': 121,
 'Barbados': 122,
 'Belize': 123,
 'Democratic Republic of the Congo': 124,
 'Dominican Republic': 125,
 'El Salvador': 126,
 'Guinea': 127,
 'Honduras': 128,
 'Kuwait': 129,
 'Nicaragua': 130,
 'Sierra Leone': 131,
 'US Virgin Islands': 132,
 'Albania': 133,
 'Benin': 134,
 'Gabon': 135,
 'Malawi': 136,
 'Paraguay': 137,
 'Saudi Arabia': 138,
 'Swaziland': 139,
 'Togo': 140,
 'Andorra': 141,
 'Antigua and Barbuda': 142,
 'Burkina Faso': 143,
 'Cayman Islands': 144,
 'Central African Republic': 145,
 'Papua New Guinea': 146,
 'Angola': 147,
 'Cyprus': 148,
 'Jordan': 149,
 "Lao People's Democratic Republic": 150,
 'Lesotho': 151,
 'Seychelles': 152,
 'Vietnam': 153,
 'Bahrain': 154,
 'Bhutan': 155,
 'Botswana': 156,
 'British Virgin Islands': 157,
 'Djibouti': 158,
 'Grenada': 159,
 'Mauritania': 160,
 'Mauritius': 161,
 'Mozambique': 162,
 'Oman': 163,
 'Qatar': 164,
 'Samoa': 165,
 'Solomon Islands': 166,
 'Tonga': 167,
 'Yemen Arab Republic': 168,
 'American Samoa': 169,
 'Aruba': 170,
 'Bangladesh': 171,
 'Cook Islands': 172,
 'Gambia': 173,
 'Guam': 174,
 'Maldives': 175,
 'Rwanda': 176,
 'Saint Vincent and the Grenadines': 177,
 'United Arab Emirates': 178,
 'Vanuatu': 179,
 'Yemen Democratic Republic': 180,
 'Croatia': 181,
 'Independent Olympic Athletes': 182,
 'Namibia': 183,
 'Slovenia': 184,
 'Yemen': 185,
 'Ukraine': 186,
 'Belarus': 187,
 'Czech Republic': 188,
 'Kazakhstan': 189,
 'Serbia and Montenegro': 190,
 'Slovakia': 191,
 'Armenia': 192,
 'Georgia': 193,
 'Republic of Moldova': 194,
 'Uzbekistan': 195,
 'Azerbaijan': 196,
 'Burundi': 197,
 'Brunei': 198,
 'Cape Verde': 199,
 'Dominica': 200,
 'Guinea-Bissau': 201,
 'Kyrgyzstan': 202,
 'Nauru': 203,
 'Saint Lucia': 204,
 'Tajikistan': 205,
 'The Former Yugoslav Republic of Macedonia': 206,
 'Turkmenistan': 207,
 'Equatorial Guinea': 208,
 'Federated States of Micronesia': 209,
 'Palau': 210,
 'Palestine': 211,
 'Saint Kitts and Nevis': 212,
 'Eritrea': 213,
 'Comoros': 214,
 'Democratic Republic of Timor-Leste': 215,
 'Kiribati': 216,
 'Sao Tome and Principe': 217,
 'Marshall Islands': 218,
 'Montenegro': 219,
 'Tuvalu': 220,
 'Kosovo': 221,
 'Refugee Olympic Athletes': 222,
 'South Sudan': 223,
 "CÃ´te d'Ivoire": 224,
 'North Macedonia': 225,
 'Eswatini': 226,
 'Refugee Olympic Team': 227,
 'Virgin Islands, British': 228,
 'Virgin Islands, US': 229}

In [58]:
data_all_train = historic_olympic_data.loc[(historic_olympic_data.game_year < 2020)]
data_all_test = historic_olympic_data.loc[(historic_olympic_data.game_year == 2020)]

In [59]:
data_all_train.head()

,game_year,country_name,total_medals,gold_medals,silver_medals,bronze_medals,sports,epreuves,game_part,prec_game_medal,prec_game_gold,prec_game_silver,prec_game_bronze
0,1896,Greece,47,10,18,19,10,39,0,0,0,0,0
1,1896,United States of America,20,11,7,2,3,17,0,0,0,0,0
2,1896,Germany,13,6,5,2,7,27,0,0,0,0,0
3,1896,France,11,5,4,2,7,20,0,0,0,0,0
4,1896,Great Britain,7,2,3,2,9,20,0,0,0,0,0

In [60]:
X_all_train = data_all_train[['country_name', 'sports', 'epreuves', 'game_part', 'prec_game_medal', 'prec_game_gold', 'prec_game_silver', 'prec_game_bronze']]
X_all_test = data_all_test[['country_name', 'sports', 'epreuves', 'game_part', 'prec_game_medal', 'prec_game_gold', 'prec_game_silver', 'prec_game_bronze']]

y_all_total_train = data_all_train['total_medals']
y_all_gold_train = data_all_train['gold_medals']
y_all_silver_train = data_all_train['silver_medals']
y_all_bronze_train = data_all_train['bronze_medals']

y_all_total_test = data_all_test['total_medals']
y_all_gold_test = data_all_test['gold_medals']
y_all_silver_test = data_all_test['silver_medals']
y_all_bronze_test = data_all_test['bronze_medals']

In [61]:
# Encodage des pays
X_all_train = X_all_train.replace(dict_pays)
X_all_test = X_all_test.replace(dict_pays)

In [62]:
X_all_test.head()

,country_name,sports,epreuves,game_part,prec_game_medal,prec_game_gold,prec_game_silver,prec_game_bronze
2699,1,43,234,27,121,46,37,38
2700,58,41,178,12,70,26,18,26
2701,27,38,182,0,0,0,0,0
2702,4,35,161,28,67,27,23,17
2703,34,46,178,22,41,12,8,21

In [63]:
X_all_train.head()

,country_name,sports,epreuves,game_part,prec_game_medal,prec_game_gold,prec_game_silver,prec_game_bronze
0,0,10,39,0,0,0,0,0
1,1,3,17,0,0,0,0,0
2,2,7,27,0,0,0,0,0
3,3,7,20,0,0,0,0,0
4,4,9,20,0,0,0,0,0

#### Deep Learning

In [64]:
X_train = X_all_train.to_numpy()
X_test = X_all_test.to_numpy()
y_train = data_all_train[['gold_medals', 'silver_medals', 'bronze_medals']].to_numpy()
y_test = data_all_test[['gold_medals', 'silver_medals', 'bronze_medals']].to_numpy()

##### FNN

In [65]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import KFold
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.callbacks import ReduceLROnPlateau

In [ ]:
X_train = X_all_train.to_numpy()
X_test = X_all_test.to_numpy()
y_train = data_all_train[['gold_medals', 'silver_medals', 'bronze_medals']].to_numpy()
y_test = data_all_test[['gold_medals', 'silver_medals', 'bronze_medals']].to_numpy()

early_stopping = EarlyStopping(monitor='val_loss', patience=75, restore_best_weights=True)
reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=0.0001)

kfold = KFold(n_splits=5, shuffle=True)
fold_no = 1
for train, test in kfold.split(X_train, y_train):
    model = Sequential()
    model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
    model.add(BatchNormalization())
    model.add(Dense(256, activation='relu'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(256, activation='relu'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(128, activation='relu'))
    model.add(BatchNormalization())
    model.add(Dropout(0.2))
    model.add(Dense(3, activation='linear'))
    model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')
    
    history = model.fit(X_train[train], y_train[train], validation_split=0.2, epochs=250, batch_size=42, callbacks=[early_stopping, reduce_lr])
    scores = model.evaluate(X_train[test], y_train[test])
    print(f'Score for fold {fold_no}: {model.metrics_names[0]} of {scores}')
    fold_no += 1

In [ ]:
y_pred = model.predict(X_test)

for i in range(len(y_test)):
    print(f"Actual: {y_test[i]}, Predicted: {y_pred[i]}")

In [ ]:
test_loss = model.evaluate(X_test, y_test)
print(f'Test Loss (MSE): {test_loss}')

y_pred = model.predict(X_test)

mse_gold = mean_squared_error(y_test[:, 0], y_pred[:, 0])
mse_silver = mean_squared_error(y_test[:, 1], y_pred[:, 1])
mse_bronze = mean_squared_error(y_test[:, 2], y_pred[:, 2])
rmse_gold = np.sqrt(mse_gold)
rmse_silver = np.sqrt(mse_silver)
rmse_bronze = np.sqrt(mse_bronze)
mae_gold = mean_absolute_error(y_test[:, 0], y_pred[:, 0])
mae_silver = mean_absolute_error(y_test[:, 1], y_pred[:, 1])
mae_bronze = mean_absolute_error(y_test[:, 2], y_pred[:, 2])
r2_gold = r2_score(y_test[:, 0], y_pred[:, 0])
r2_silver = r2_score(y_test[:, 1], y_pred[:, 1])
r2_bronze = r2_score(y_test[:, 2], y_pred[:, 2])

print(f'Mean Squared Error (Gold): {mse_gold}')
print(f'Mean Squared Error (Silver): {mse_silver}')
print(f'Mean Squared Error (Bronze): {mse_bronze}')
print(f'Root Mean Squared Error (Gold): {rmse_gold}')
print(f'Root Mean Squared Error (Silver): {rmse_silver}')
print(f'Root Mean Squared Error (Bronze): {rmse_bronze}')
print(f'Mean Absolute Error (Gold): {mae_gold}')
print(f'Mean Absolute Error (Silver): {mae_silver}')
print(f'Mean Absolute Error (Bronze): {mae_bronze}')
print(f'R-squared (Gold): {r2_gold}')
print(f'R-squared (Silver): {r2_silver}')
print(f'R-squared (Bronze): {r2_bronze}')

In [ ]:
results = pd.DataFrame({
    'Country': data_all_test['country_name'],
    'Actual Total': y_test.sum(axis=1),
    'Predicted Total': y_pred.sum(axis=1).round(),
    'Actual Gold': y_test[:, 0],
    'Predicted Gold': y_pred[:, 0].round(),
    'Actual Silver': y_test[:, 1],
    'Predicted Silver': y_pred[:, 1].round(),
    'Actual Bronze': y_test[:, 2],
    'Predicted Bronze': y_pred[:, 2].round()
})

In [372]:
# model.save('3_olympic_medals_country.keras')

In [69]:
from tensorflow.keras.models import load_model

# Replace 'path_to_your_model' with the actual path where your model is saved
model = load_model('3_olympic_medals_country.keras')

In [70]:
predictions = model.predict(X_test)

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step

In [82]:
results = pd.DataFrame({
    'country': data_all_test['country_name'],
    # 'Actual Total': y_test.sum(axis=1),
    'nbTotalMedals': predictions.sum(axis=1).round().astype(int),
    # 'Actual Gold': y_test[:, 0],
    'nbGoldMedals': predictions[:, 0].round().astype(int),
    # 'Actual Silver': y_test[:, 1],
    'nbSilverMedals': predictions[:, 1].round().astype(int) ,
    # 'Actual Bronze': y_test[:, 2],
    'nbBronzeMedals': predictions[:, 2].round().astype(int)
})

results[['nbTotalMedals', 'nbGoldMedals', 'nbSilverMedals', 'nbBronzeMedals']] = results[['nbTotalMedals', 'nbGoldMedals', 'nbSilverMedals', 'nbBronzeMedals']].clip(lower=0)

results.reset_index(drop=True, inplace=True)
results

,country,nbTotalMedals,nbGoldMedals,nbSilverMedals,nbBronzeMedals
0,United States of America,118,43,37,38
1,China,69,25,21,23
2,Russia,55,19,17,18
3,Great Britain,66,24,21,22
4,Japan,55,20,17,19
...,...,...,...,...,...
185,"Virgin Islands, British",0,0,0,0
186,"Virgin Islands, US",0,0,0,0
187,Yemen,0,0,0,0
188,Zambia,0,0,0,0
189,Zimbabwe,0,0,0,0

##### CNN

In [386]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Conv1D, Flatten
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [387]:
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

In [388]:
model = Sequential()

model.add(Conv1D(64, kernel_size=2, activation='relu', input_shape=(X_train.shape[1], 1)))
model.add(Conv1D(128, kernel_size=2, activation='relu'))
model.add(Dropout(0.2))
model.add(Conv1D(128, kernel_size=2, activation='relu'))
model.add(Dropout(0.2))

model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(3, activation='linear'))

model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')

model.summary()

Model: "sequential_42"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ conv1d_9 (Conv1D)               │ (None, 7, 64)          │           192 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ conv1d_10 (Conv1D)              │ (None, 6, 128)         │        16,512 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_126 (Dropout)           │ (None, 6, 128)         │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ conv1d_11 (Conv1D)              │ (None, 5, 128)         │        32,896 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_127 (Dropout)           │ (None, 5, 128)         │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ flatten_3 (Flatten)             │ (None, 640)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_205 (Dense)               │ (None, 128)            │        82,048 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_128 (Dropout)           │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_206 (Dense)               │ (None, 3)              │           387 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 132,035 (515.76 KB)

 Trainable params: 132,035 (515.76 KB)

 Non-trainable params: 0 (0.00 B)

In [389]:
early_stopping = EarlyStopping(monitor='val_loss', patience=75, restore_best_weights=True)

history = model.fit(X_train, y_train, validation_split=0.2, epochs=200, batch_size=32, callbacks=[early_stopping])

Epoch 1/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 11.7000 - val_loss: 2.5046
Epoch 2/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 9.6951 - val_loss: 1.8939
Epoch 3/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 10.3211 - val_loss: 1.7386
Epoch 4/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.4264 - val_loss: 1.9390
Epoch 5/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.7620 - val_loss: 2.6371
Epoch 6/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.4050 - val_loss: 5.6296
Epoch 7/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 9.0425 - val_loss: 1.8094
Epoch 8/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.5320 - val_loss: 2.4874
Epoch 9/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.7432 - val_loss: 1.5663
Epoch 10/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 10.0481 - val_loss: 2.6050
Epoch 11/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.5720 - val_loss: 1.5145
Epoch 12/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.5155 - val_loss: 2.0211
Epoch 13/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.7365 - val_loss: 2.2322
Epoch 14/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 7.7434 - val_loss: 1.9053
Epoch 15/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.3411 - val_loss: 1.6050
Epoch 16/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.2683 - val_loss: 2.8207
Epoch 17/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.0806 - val_loss: 1.7554
Epoch 18/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 11.3402 - val_loss: 1.5661
Epoch 19/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.8043 - val_loss: 1.7264
Epoch 20/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.1603 - val_loss: 2.0344
Epoch 21/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.4462 - val_loss: 1.8792
Epoch 22/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 11.2165 - val_loss: 1.6030
Epoch 23/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 9.4535 - val_loss: 1.4936
Epoch 24/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.2096 - val_loss: 2.1839
Epoch 25/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.9486 - val_loss: 1.7779
Epoch 26/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.7333 - val_loss: 1.7493
Epoch 27/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.2680 - val_loss: 1.5819
Epoch 28/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.8182 - val_loss: 1.7448
Epoch 29/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.6311 - val_loss: 1.4984
Epoch 30/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 10.6316 - val_loss: 1.7007
Epoch 31/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.6291 - val_loss: 2.7320
Epoch 32/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 7.5557 - val_loss: 1.5897
Epoch 33/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.2493 - val_loss: 5.5568
Epoch 34/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.5572 - val_loss: 1.5245
Epoch 35/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.2811 - val_loss: 1.8845
Epoch 36/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.7760 - val_loss: 2.0026
Epoch 37/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.2033 - val_loss: 2.9294
Epoch 38/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.4449 - val_loss: 1.3888
Epoch 39/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 11.2934 - val_loss: 1.8315
Epoch 40/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.4707 - val_loss: 1.4206
Epoch 41/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.6412 - val_loss: 1.5524
Epoch 42/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 7.2431 - val_loss: 1.4470
Epoch 43/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.4636 - val_loss: 1.4796
Epoch 44/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.8355 - val_loss: 1.5287
Epoch 45/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.6356 - val_loss: 1.3224
Epoch 46/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 7.4745 - val_loss: 1.7164
Epoch 47/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 7.0285 - val_loss: 2.3880
Epoch 48/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.9000 - val_loss: 1.4653
Epoch 49/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.4055 - val_loss: 1.7153
Epoch 50/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 7.6137 - val_loss: 1.5271
Epoch 51/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.9006 - val_loss: 1.4535
Epoch 52/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.6875 - val_loss: 1.4230
Epoch 53/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.7041 - val_loss: 1.9205
Epoch 54/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.5323 - val_loss: 1.5894
Epoch 55/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.8477 - val_loss: 1.6405
Epoch 56/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.2520 - val_loss: 1.3334
Epoch 57/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.1865 - val_loss: 1.8480
Epoch 58/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.7566 - val_loss: 1.3937
Epoch 59/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.1757 - val_loss: 1.8355
Epoch 60/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.0336 - val_loss: 2.2369
Epoch 61/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.4833 - val_loss: 1.7467
Epoch 62/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.2286 - val_loss: 2.2830
Epoch 63/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.9987 - val_loss: 1.6727
Epoch 64/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.0246 - val_loss: 1.3778
Epoch 65/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.4721 - val_loss: 1.6132
Epoch 66/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.0857 - val_loss: 2.0332
Epoch 67/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.4256 - val_loss: 1.2382
Epoch 68/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.4671 - val_loss: 1.3711
Epoch 69/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.2862 - val_loss: 1.6431
Epoch 70/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.2302 - val_loss: 1.4583
Epoch 71/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.1306 - val_loss: 1.8441
Epoch 72/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.8025 - val_loss: 1.6360
Epoch 73/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.3768 - val_loss: 1.4000
Epoch 74/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.6090 - val_loss: 1.6996
Epoch 75/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.1920 - val_loss: 1.3645
Epoch 76/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.5238 - val_loss: 1.5443
Epoch 77/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.5459 - val_loss: 1.3897
Epoch 78/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.2536 - val_loss: 1.3128
Epoch 79/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.7406 - val_loss: 1.4388
Epoch 80/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.3682 - val_loss: 1.5495
Epoch 81/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 9.8200 - val_loss: 1.4109
Epoch 82/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.4660 - val_loss: 1.3665
Epoch 83/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.4878 - val_loss: 1.2484
Epoch 84/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.7081 - val_loss: 1.3185
Epoch 85/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.8355 - val_loss: 1.7167
Epoch 86/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.3290 - val_loss: 1.4292
Epoch 87/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.8747 - val_loss: 1.5490
Epoch 88/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9429 - val_loss: 3.0442
Epoch 89/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.3255 - val_loss: 1.4672
Epoch 90/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.1881 - val_loss: 1.4735
Epoch 91/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.5854 - val_loss: 1.4599
Epoch 92/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.7226 - val_loss: 1.5960
Epoch 93/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.4197 - val_loss: 1.2947
Epoch 94/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.5895 - val_loss: 1.5315
Epoch 95/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.0227 - val_loss: 1.4330
Epoch 96/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7670 - val_loss: 1.3645
Epoch 97/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.1029 - val_loss: 1.4951
Epoch 98/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.0312 - val_loss: 1.3754
Epoch 99/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.1701 - val_loss: 1.3814
Epoch 100/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.8995 - val_loss: 2.2807
Epoch 101/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6970 - val_loss: 1.6167
Epoch 102/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.1035 - val_loss: 1.7613
Epoch 103/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.5158 - val_loss: 1.4709
Epoch 104/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.3175 - val_loss: 2.7431
Epoch 105/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.5669 - val_loss: 1.3697
Epoch 106/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 6.5485 - val_loss: 1.2601
Epoch 107/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.7123 - val_loss: 1.4803
Epoch 108/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.1834 - val_loss: 1.2625
Epoch 109/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6759 - val_loss: 1.4027
Epoch 110/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9595 - val_loss: 2.0576
Epoch 111/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.4391 - val_loss: 1.3372
Epoch 112/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.1047 - val_loss: 1.2746
Epoch 113/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6195 - val_loss: 1.4390
Epoch 114/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.2436 - val_loss: 1.2351
Epoch 115/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.2036 - val_loss: 2.1324
Epoch 116/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.3830 - val_loss: 1.7389
Epoch 117/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.8503 - val_loss: 1.3590
Epoch 118/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.0094 - val_loss: 1.5153
Epoch 119/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9527 - val_loss: 1.3410
Epoch 120/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.0265 - val_loss: 1.4694
Epoch 121/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.5538 - val_loss: 1.5696
Epoch 122/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9822 - val_loss: 1.5178
Epoch 123/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7076 - val_loss: 1.3102
Epoch 124/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.2186 - val_loss: 1.5428
Epoch 125/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6446 - val_loss: 1.4592
Epoch 126/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.8228 - val_loss: 1.3413
Epoch 127/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.3106 - val_loss: 1.4917
Epoch 128/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6405 - val_loss: 1.4679
Epoch 129/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.8098 - val_loss: 1.5821
Epoch 130/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.8820 - val_loss: 1.3763
Epoch 131/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.9340 - val_loss: 1.7215
Epoch 132/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.3167 - val_loss: 1.3377
Epoch 133/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.4350 - val_loss: 1.6131
Epoch 134/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.6417 - val_loss: 1.6237
Epoch 135/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7853 - val_loss: 1.6043
Epoch 136/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.0638 - val_loss: 1.5483
Epoch 137/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.4537 - val_loss: 1.5317
Epoch 138/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.0365 - val_loss: 1.5596
Epoch 139/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.5474 - val_loss: 1.3822
Epoch 140/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.4933 - val_loss: 1.9177
Epoch 141/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.6502 - val_loss: 1.3652
Epoch 142/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6497 - val_loss: 1.7578
Epoch 143/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7237 - val_loss: 1.6554
Epoch 144/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.7261 - val_loss: 1.4289
Epoch 145/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.0266 - val_loss: 1.5583
Epoch 146/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6.3541 - val_loss: 1.4589
Epoch 147/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.6627 - val_loss: 1.6626
Epoch 148/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.3552 - val_loss: 1.6208
Epoch 149/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6843 - val_loss: 2.0274
Epoch 150/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.4925 - val_loss: 1.4041
Epoch 151/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.8426 - val_loss: 1.4016
Epoch 152/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.6114 - val_loss: 1.7764
Epoch 153/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.9911 - val_loss: 1.8644
Epoch 154/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9377 - val_loss: 1.7340
Epoch 155/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.8143 - val_loss: 1.3606
Epoch 156/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.4323 - val_loss: 2.3795
Epoch 157/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.2836 - val_loss: 1.5335
Epoch 158/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.0844 - val_loss: 1.5598
Epoch 159/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.4928 - val_loss: 1.8492
Epoch 160/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.4499 - val_loss: 3.0188
Epoch 161/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.1983 - val_loss: 1.4235
Epoch 162/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.3377 - val_loss: 1.7067
Epoch 163/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.4451 - val_loss: 1.3864
Epoch 164/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.9852 - val_loss: 1.7976
Epoch 165/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9354 - val_loss: 1.3153
Epoch 166/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.0740 - val_loss: 1.6130
Epoch 167/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7807 - val_loss: 1.3562
Epoch 168/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.3121 - val_loss: 1.7304
Epoch 169/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7822 - val_loss: 1.6859
Epoch 170/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.3242 - val_loss: 1.3141
Epoch 171/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.6801 - val_loss: 1.6621
Epoch 172/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.6127 - val_loss: 1.7661
Epoch 173/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 5.2529 - val_loss: 1.6645
Epoch 174/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.6768 - val_loss: 1.7527
Epoch 175/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.7205 - val_loss: 2.0815
Epoch 176/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.1815 - val_loss: 1.6960
Epoch 177/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.3796 - val_loss: 1.2947
Epoch 178/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.6274 - val_loss: 1.3679
Epoch 179/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.0452 - val_loss: 1.7349
Epoch 180/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.7474 - val_loss: 1.5330
Epoch 181/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4.1987 - val_loss: 1.6878
Epoch 182/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9585 - val_loss: 1.5107
Epoch 183/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9420 - val_loss: 2.0208
Epoch 184/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 5.2843 - val_loss: 1.5960
Epoch 185/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.2699 - val_loss: 1.5404
Epoch 186/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.8658 - val_loss: 2.0092
Epoch 187/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.9369 - val_loss: 1.4335
Epoch 188/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.9718 - val_loss: 1.7513
Epoch 189/200
67/67 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3.3045 - val_loss: 1.6399

In [390]:
test_loss = model.evaluate(X_test, y_test)
print(f'Test Loss (MSE): {test_loss}')

y_pred = model.predict(X_test)

mse_gold = mean_squared_error(y_test[:, 0], y_pred[:, 0])
mse_silver = mean_squared_error(y_test[:, 1], y_pred[:, 1])
mse_bronze = mean_squared_error(y_test[:, 2], y_pred[:, 2])
rmse_gold = np.sqrt(mse_gold)
rmse_silver = np.sqrt(mse_silver)
rmse_bronze = np.sqrt(mse_bronze)
mae_gold = mean_absolute_error(y_test[:, 0], y_pred[:, 0])
mae_silver = mean_absolute_error(y_test[:, 1], y_pred[:, 1])
mae_bronze = mean_absolute_error(y_test[:, 2], y_pred[:, 2])
r2_gold = r2_score(y_test[:, 0], y_pred[:, 0])
r2_silver = r2_score(y_test[:, 1], y_pred[:, 1])
r2_bronze = r2_score(y_test[:, 2], y_pred[:, 2])

print(f'Mean Squared Error (Gold): {mse_gold}')
print(f'Mean Squared Error (Silver): {mse_silver}')
print(f'Mean Squared Error (Bronze): {mse_bronze}')
print(f'Root Mean Squared Error (Gold): {rmse_gold}')
print(f'Root Mean Squared Error (Silver): {rmse_silver}')
print(f'Root Mean Squared Error (Bronze): {rmse_bronze}')
print(f'Mean Absolute Error (Gold): {mae_gold}')
print(f'Mean Absolute Error (Silver): {mae_silver}')
print(f'Mean Absolute Error (Bronze): {mae_bronze}')
print(f'R-squared (Gold): {r2_gold}')
print(f'R-squared (Silver): {r2_silver}')
print(f'R-squared (Bronze): {r2_bronze}')

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.1844
Test Loss (MSE): 3.4048895835876465
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Mean Squared Error (Gold): 5.091485359153016
Mean Squared Error (Silver): 1.3656464814014957
Mean Squared Error (Bronze): 3.7575385613420313
Root Mean Squared Error (Gold): 2.256431997458159
Root Mean Squared Error (Silver): 1.1686087803030987
Root Mean Squared Error (Bronze): 1.9384371440266077
Mean Absolute Error (Gold): 0.8201444212426531
Mean Absolute Error (Silver): 0.6258141086139577
Mean Absolute Error (Bronze): 0.9193689564758158
R-squared (Gold): 0.7267483472824097
R-squared (Silver): 0.9151230454444885
R-squared (Bronze): 0.8091093301773071

In [391]:
resultsCNN = pd.DataFrame({
    'Country': data_all_test['country_name'],
    'Actual Gold': y_test[:, 0],
    'Predicted Gold': y_pred[:, 0].round(),
    'Actual Silver': y_test[:, 1],
    'Predicted Silver': y_pred[:, 1].round(),
    'Actual Bronze': y_test[:, 2],
    'Predicted Bronze': y_pred[:, 2].round()
})
resultsCNN

##### LSTM

In [393]:
import numpy as np
from sklearn.model_selection import KFold
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout, BatchNormalization,
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping, ReduceLROnPlateau

In [447]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=0.0001)

kfold = KFold(n_splits=5, shuffle=True)
fold_no = 1


for train, val in kfold.split(X_train, y_train):
    model = Sequential()
    model.add(LSTM(128, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2]), return_sequences=True))
    model.add(BatchNormalization())
    model.add(LSTM(256, activation='relu', return_sequences=True))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(LSTM(256, activation='relu'))
    model.add(BatchNormalization())
    model.add(Dropout(0.3))
    model.add(Dense(128, activation='relu'))
    model.add(BatchNormalization())
    model.add(Dropout(0.2))
    model.add(Dense(3, activation='linear'))
    
    model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')
    
    history = model.fit(
        X_train[train], y_train[train], 
        validation_data=(X_train[val], y_train[val]), 
        epochs=250, 
        batch_size=42, 
        callbacks=[early_stopping, reduce_lr]
    )
    
    scores = model.evaluate(X_train[val], y_train[val])
    print(f'Score for fold {fold_no}: {model.metrics_names[0]} of {scores}')
    fold_no += 1

test_scores = model.evaluate(X_test, y_test)
print(f'Test scores: {model.metrics_names[0]} of {test_scores}')

predictions = model.predict(X_test)

Epoch 1/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 6s 32ms/step - loss: 18.1444 - val_loss: 9.8645 - learning_rate: 0.0010
Epoch 2/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.6793 - val_loss: 9.5894 - learning_rate: 0.0010
Epoch 3/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.3443 - val_loss: 8.4055 - learning_rate: 0.0010
Epoch 4/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 11.2675 - val_loss: 7.1451 - learning_rate: 0.0010
Epoch 5/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - loss: 7.0056 - val_loss: 6.4901 - learning_rate: 0.0010
Epoch 6/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - loss: 9.5003 - val_loss: 10.7710 - learning_rate: 0.0010
Epoch 7/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 26ms/step - loss: 10.9152 - val_loss: 4.6943 - learning_rate: 0.0010
Epoch 8/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.8803 - val_loss: 4.9820 - learning_rate: 0.0010
Epoch 9/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.9537 - val_loss: 3.9561 - learning_rate: 0.0010
Epoch 10/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 7.8390 - val_loss: 4.0123 - learning_rate: 0.0010
Epoch 11/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 7.6216 - val_loss: 4.4485 - learning_rate: 0.0010
Epoch 12/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.5599 - val_loss: 9.3579 - learning_rate: 0.0010
Epoch 13/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 7.9265 - val_loss: 3.7530 - learning_rate: 0.0010
Epoch 14/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - loss: 5.7929 - val_loss: 7.1080 - learning_rate: 0.0010
Epoch 15/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.8900 - val_loss: 3.9596 - learning_rate: 0.0010
Epoch 16/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.4127 - val_loss: 3.4668 - learning_rate: 0.0010
Epoch 17/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.4361 - val_loss: 4.0710 - learning_rate: 0.0010
Epoch 18/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.1771 - val_loss: 11.1910 - learning_rate: 0.0010
Epoch 19/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.1418 - val_loss: 4.5834 - learning_rate: 0.0010
Epoch 20/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.0245 - val_loss: 16.0703 - learning_rate: 0.0010
Epoch 21/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - loss: 8.0866 - val_loss: 8.4994 - learning_rate: 0.0010
Epoch 22/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.5888 - val_loss: 4.2060 - learning_rate: 2.0000e-04
Epoch 23/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 4.2567 - val_loss: 4.8399 - learning_rate: 2.0000e-04
Epoch 24/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 4.5255 - val_loss: 4.8094 - learning_rate: 2.0000e-04
Epoch 25/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 4.1994 - val_loss: 6.7903 - learning_rate: 2.0000e-04
Epoch 26/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.5812 - val_loss: 5.0904 - learning_rate: 2.0000e-04
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 5.7210
Score for fold 1: loss of 3.466804027557373
Epoch 1/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 5s 31ms/step - loss: 19.5584 - val_loss: 13.1306 - learning_rate: 0.0010
Epoch 2/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 17.6855 - val_loss: 6.5423 - learning_rate: 0.0010
Epoch 3/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.0972 - val_loss: 12.3779 - learning_rate: 0.0010
Epoch 4/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.7891 - val_loss: 5.8074 - learning_rate: 0.0010
Epoch 5/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.5975 - val_loss: 6.1133 - learning_rate: 0.0010
Epoch 6/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - loss: 9.2113 - val_loss: 6.1740 - learning_rate: 0.0010
Epoch 7/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.6018 - val_loss: 5.6296 - learning_rate: 0.0010
Epoch 8/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.7213 - val_loss: 6.1821 - learning_rate: 0.0010
Epoch 9/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.6293 - val_loss: 4.5391 - learning_rate: 0.0010
Epoch 10/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.7485 - val_loss: 9.9817 - learning_rate: 0.0010
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 13.8261
Score for fold 2: loss of 13.130602836608887
Epoch 1/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 5s 31ms/step - loss: 13.6902 - val_loss: 17.6223 - learning_rate: 0.0010
Epoch 2/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.9023 - val_loss: 19.4814 - learning_rate: 0.0010
Epoch 3/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.7031 - val_loss: 19.1010 - learning_rate: 0.0010
Epoch 4/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.0439 - val_loss: 17.2611 - learning_rate: 0.0010
Epoch 5/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.7004 - val_loss: 13.4725 - learning_rate: 0.0010
Epoch 6/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.8548 - val_loss: 11.8661 - learning_rate: 0.0010
Epoch 7/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.6285 - val_loss: 16.2914 - learning_rate: 0.0010
Epoch 8/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.0042 - val_loss: 10.8147 - learning_rate: 0.0010
Epoch 9/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 7.1728 - val_loss: 11.8851 - learning_rate: 0.0010
Epoch 10/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.2994 - val_loss: 11.9383 - learning_rate: 0.0010
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 35.4418
Score for fold 3: loss of 17.622299194335938
Epoch 1/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 5s 31ms/step - loss: 14.2225 - val_loss: 18.4700 - learning_rate: 0.0010
Epoch 2/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 11.8853 - val_loss: 17.3969 - learning_rate: 0.0010
Epoch 3/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.4516 - val_loss: 14.2938 - learning_rate: 0.0010
Epoch 4/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.4860 - val_loss: 10.8729 - learning_rate: 0.0010
Epoch 5/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 9.3796 - val_loss: 5.8606 - learning_rate: 0.0010
Epoch 6/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 11.5307 - val_loss: 6.1272 - learning_rate: 0.0010
Epoch 7/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.7213 - val_loss: 7.2514 - learning_rate: 0.0010
Epoch 8/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.4769 - val_loss: 8.1602 - learning_rate: 0.0010
Epoch 9/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 7.9336 - val_loss: 9.4511 - learning_rate: 0.0010
Epoch 10/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.9131 - val_loss: 6.6106 - learning_rate: 0.0010
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 23.4669
Score for fold 4: loss of 18.470022201538086
Epoch 1/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 5s 31ms/step - loss: 13.3780 - val_loss: 24.3229 - learning_rate: 0.0010
Epoch 2/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.9684 - val_loss: 27.3517 - learning_rate: 0.0010
Epoch 3/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.8125 - val_loss: 23.6669 - learning_rate: 0.0010
Epoch 4/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 6.0112 - val_loss: 21.0971 - learning_rate: 0.0010
Epoch 5/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 7.6869 - val_loss: 20.8238 - learning_rate: 0.0010
Epoch 6/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - loss: 6.0212 - val_loss: 16.2104 - learning_rate: 0.0010
Epoch 7/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 8.2409 - val_loss: 21.0519 - learning_rate: 0.0010
Epoch 8/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 5.6770 - val_loss: 17.5830 - learning_rate: 0.0010
Epoch 9/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 4.8397 - val_loss: 19.9433 - learning_rate: 0.0010
Epoch 10/250
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - loss: 4.8021 - val_loss: 13.7868 - learning_rate: 0.0010
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 59.3818
Score for fold 5: loss of 24.32288932800293
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 13.2124
Test scores: loss of 6.860778331756592
6/6 ━━━━━━━━━━━━━━━━━━━━ 1s 65ms/step

In [448]:
y_pred = model.predict(X_test)

for i in range(len(y_test)):
    print(f"Actual: {y_test[i]}, Predicted: {y_pred[i]}")

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step
Actual: [39 41 33], Predicted: [26.898476 25.440365 23.338076]
Actual: [22 21 22], Predicted: [10.91332  10.847863 10.063664]
Actual: [27 13 17], Predicted: [8.183761 8.498435 8.449726]
Actual: [17  7 21], Predicted: [4.906062  5.3336515 5.435551 ]
Actual: [10 10 20], Predicted: [4.8458533 5.2788353 5.396039 ]
Actual: [10 11 16], Predicted: [6.1557317 6.45617   6.3018055]
Actual: [10 12 14], Predicted: [2.247494  2.6011748 2.9585009]
Actual: [10 12 11], Predicted: [6.031614 6.317374 6.159745]
Actual: [ 7  6 11], Predicted: [3.519342  3.9754744 4.4050794]
Actual: [6 6 8], Predicted: [2.2486184 2.5987258 2.968531 ]
Actual: [6 7 7], Predicted: [1.5493774 1.9027212 2.265021 ]
Actual: [7 6 7], Predicted: [1.6825243 2.0188758 2.4067018]
Actual: [ 6  4 10], Predicted: [3.0098479 3.3674169 3.734666 ]
Actual: [ 1  6 12], Predicted: [3.8993766 3.871358  6.868514 ]
Actual: [3 8 6], Predicted: [2.410174  2.7597275 3.1661348]
Actual: [7 3 5], Predicted: [1.1840125 1.4751418 1.7510554]
Actual: [4 5 5], Predicted: [2.1411645 2.436099  3.0017092]
Actual: [3 4 6], Predicted: [1.1944207 1.5069892 1.7940986]
Actual: [2 2 9], Predicted: [1.2942146 1.6327846 1.9738046]
Actual: [2 4 6], Predicted: [1.372296  1.6574646 2.1104398]
Actual: [4 4 3], Predicted: [2.5563614 2.6974268 5.28291  ]
Actual: [3 4 4], Predicted: [1.1960543 1.4887514 1.7524652]
Actual: [4 4 2], Predicted: [1.4624581 1.7697127 2.1253345]
Actual: [4 1 4], Predicted: [1.1349002 1.39715   1.6416093]
Actual: [3 1 5], Predicted: [0.94076973 1.2142584  1.4226837 ]
Actual: [3 6 0], Predicted: [1.2570565 1.5610337 1.8691034]
Actual: [3 3 2], Predicted: [2.2701907 2.4708867 4.501505 ]
Actual: [2 5 1], Predicted: [1.7448444 1.7987006 4.0179977]
Actual: [0 0 8], Predicted: [4.1838017 4.1503882 6.79472  ]
Actual: [4 2 2], Predicted: [0.9351633 1.2211443 1.4327501]
Actual: [1 1 5], Predicted: [0.9768096 1.2867239 1.5158639]
Actual: [0 3 4], Predicted: [2.810424  2.9605498 5.229114 ]
Actual: [1 3 3], Predicted: [2.8397658 2.9729214 5.490095 ]
Actual: [3 1 3], Predicted: [1.1487226 1.4532673 1.7387086]
Actual: [1 2 4], Predicted: [0.9894438 1.2907716 1.5334153]
Actual: [3 2 2], Predicted: [1.2696717 1.5737355 1.9126912]
Actual: [3 1 2], Predicted: [0.9023386 1.1852427 1.4023553]
Actual: [1 1 4], Predicted: [1.1975704 1.5529462 1.901886 ]
Actual: [1 2 3], Predicted: [1.2209147 1.4861526 1.898269 ]
Actual: [0 4 1], Predicted: [1.3015829 1.6135055 1.9687454]
Actual: [0 3 2], Predicted: [1.4601861 1.5840111 2.2593036]
Actual: [1 1 3], Predicted: [1.0695293 1.3671352 1.6044183]
Actual: [3 1 1], Predicted: [1.4478457 1.5965332 3.8047564]
Actual: [3 0 2], Predicted: [3.1809335 3.2610712 5.7384906]
Actual: [0 2 2], Predicted: [1.2597386 1.172013  3.0236917]
Actual: [1 1 2], Predicted: [1.1647528 1.4690799 1.7126898]
Actual: [2 1 1], Predicted: [0.9466991 1.2394732 1.418497 ]
Actual: [2 0 2], Predicted: [1.0954962 1.4055355 1.7246207]
Actual: [2 0 2], Predicted: [1.2656482 1.5663025 1.9741164]
Actual: [0 0 4], Predicted: [1.3968302 1.7360392 2.1655304]
Actual: [0 1 3], Predicted: [1.5845923 1.7574286 2.4148357]
Actual: [1 2 1], Predicted: [0.8450038 1.1358333 1.324847 ]
Actual: [1 1 2], Predicted: [0.9987418 1.2994268 1.5719044]
Actual: [1 3 0], Predicted: [0.9737627 1.2547998 1.4965069]
Actual: [1 2 1], Predicted: [1.4368588 1.4981923 3.8227289]
Actual: [2 1 1], Predicted: [1.0375295 1.3499032 1.582922 ]
Actual: [1 3 0], Predicted: [1.1534525 1.4586711 1.785128 ]
Actual: [0 1 2], Predicted: [1.0968558 1.3920059 1.6857334]
Actual: [2 1 0], Predicted: [0.8491209 1.1468501 1.3632871]
Actual: [0 2 1], Predicted: [0.982141  0.9090753 3.1081722]
Actual: [2 0 1], Predicted: [0.9938155 1.0326476 2.0912216]
Actual: [0 1 2], Predicted: [0.99302024 1.2937382  1.5093337 ]
Actual: [1 2 0], Predicted: [1.155663  1.431434  1.7239565]
Actual: [2 0 0], Predicted: [0.90770525 1.1905569  1.357828  ]
Actual: [1 0 1], Predicted: [0.7199516 1.0267712 1.1662056]
Actual: [1 0 1], Predicted: [0.94997483 1.2541727  1.4400351 ]
Actual: [0 0 2], Predicted: [0.7786973 1.0814239 1.2443573]
Actual: [0 1 1], Predicted: [1.2384995 1.3235402 2.1051137]
Actual: [2 0 0], Predicted: [0.35071352 0.70461416 3.0598505 ]
Actual: [1 0 1], Predicted: [0.761998  1.0630258 1.2328631]
Actual: [0 1 1], Predicted: [1.4522542 1.6772884 2.1557581]
Actual: [0 1 1], Predicted: [1.0658697 1.3673134 1.6301259]
Actual: [1 0 1], Predicted: [1.3334388 1.6476505 2.0168712]
Actual: [1 1 0], Predicted: [1.5584486 1.7578173 2.360643 ]
Actual: [0 1 0], Predicted: [1.1419462 1.2283251 2.0252643]
Actual: [1 0 0], Predicted: [0.72654647 1.0326068  1.162647  ]
Actual: [0 0 1], Predicted: [0.86110157 0.9317682  1.753788  ]
Actual: [0 0 1], Predicted: [1.0440856 1.1103725 1.7420124]
Actual: [0 0 1], Predicted: [0.26878175 0.6282544  3.1460388 ]
Actual: [0 0 1], Predicted: [0.8985882 1.1873789 1.370174 ]
Actual: [0 0 1], Predicted: [0.6821978  0.73771304 1.5828037 ]
Actual: [0 0 1], Predicted: [1.1394976 1.2569687 1.705034 ]
Actual: [0 1 0], Predicted: [0.8717377 1.1554807 1.3538481]
Actual: [1 0 0], Predicted: [1.2600381 1.5169398 1.9569997]
Actual: [0 1 0], Predicted: [0.88885194 0.8271603  2.4031537 ]
Actual: [0 1 0], Predicted: [-0.02663282  0.48395848  2.892744  ]
Actual: [1 0 0], Predicted: [0.9796167 1.262401  1.5183736]
Actual: [0 0 1], Predicted: [1.0049605 0.9425862 2.9685953]
Actual: [0 1 0], Predicted: [1.2261487 1.3055975 1.9399043]
Actual: [0 0 1], Predicted: [0.85155684 1.1366347  1.3079998 ]
Actual: [0 1 0], Predicted: [0.4085999 0.6267123 2.5478666]
Actual: [0 0 0], Predicted: [0.6928997 1.0042033 1.1236373]
Actual: [0 0 0], Predicted: [1.0898501 1.181473  1.6808628]
Actual: [0 0 0], Predicted: [1.4451675 1.655061  2.1836805]
Actual: [0 0 0], Predicted: [0.59344023 0.57989144 1.6644324 ]
Actual: [0 0 0], Predicted: [0.99955475 1.0736336  1.6152843 ]
Actual: [0 0 0], Predicted: [0.9274234  0.99450696 1.6546797 ]
Actual: [0 0 0], Predicted: [0.97898954 1.0468794  1.6142131 ]
Actual: [0 0 0], Predicted: [0.52999794 0.5350517  1.6068023 ]
Actual: [0 0 0], Predicted: [0.66043043 0.63439995 1.7808241 ]
Actual: [0 0 0], Predicted: [1.0089211 1.1675141 1.5182456]
Actual: [0 0 0], Predicted: [1.0525813 1.1425598 1.6205806]
Actual: [0 0 0], Predicted: [0.82142884 0.8888469  1.6915528 ]
Actual: [0 0 0], Predicted: [0.9697896 1.253097  1.4758595]
Actual: [0 0 0], Predicted: [0.64747053 0.64764196 2.1461086 ]
Actual: [0 0 0], Predicted: [0.43618658 0.5714147  2.2477708 ]
Actual: [0 0 0], Predicted: [1.1964155 1.3561121 1.7916522]
Actual: [0 0 0], Predicted: [0.288885   0.49018764 2.1785076 ]
Actual: [0 0 0], Predicted: [0.9142396 1.1746907 1.392196 ]
Actual: [0 0 0], Predicted: [0.71379155 1.0370095  1.1423786 ]
Actual: [0 0 0], Predicted: [-0.11931226  0.405487    2.290913  ]
Actual: [0 0 0], Predicted: [0.69437575 0.6629569  1.8406996 ]
Actual: [0 0 0], Predicted: [1.0966465 1.3682886 1.6799775]
Actual: [0 0 0], Predicted: [1.0840939 1.1703415 1.8787965]
Actual: [0 0 0], Predicted: [1.1005747 1.2499156 1.6531645]
Actual: [0 0 0], Predicted: [0.60880053 0.6593366  1.4922625 ]
Actual: [0 0 0], Predicted: [-0.09219549  0.25995702  1.9112426 ]
Actual: [0 0 0], Predicted: [1.0380559 1.1790695 1.561538 ]
Actual: [0 0 0], Predicted: [0.42793837 0.6874344  2.7936413 ]
Actual: [0 0 0], Predicted: [-0.6425525   0.24197671  2.3342357 ]
Actual: [0 0 0], Predicted: [1.0168873 1.1037207 1.5727055]
Actual: [0 0 0], Predicted: [0.3762712  0.41577056 1.5437683 ]
Actual: [0 0 0], Predicted: [0.5644051 0.568626  1.745415 ]
Actual: [0 0 0], Predicted: [0.99206036 1.2893276  1.5333394 ]
Actual: [0 0 0], Predicted: [1.039431  1.173115  1.5647482]
Actual: [0 0 0], Predicted: [0.32836723 0.5300148  2.2834637 ]
Actual: [0 0 0], Predicted: [0.8103398 1.0967574 1.2553627]
Actual: [0 0 0], Predicted: [0.6217098  0.95521414 1.0274961 ]
Actual: [0 0 0], Predicted: [1.1027628 1.2204069 1.6623385]
Actual: [0 0 0], Predicted: [0.5972629  0.9508567  0.99989444]
Actual: [0 0 0], Predicted: [0.81253797 1.0981765  1.2568961 ]
Actual: [0 0 0], Predicted: [-0.01368824  0.47531572  2.4639323 ]
Actual: [0 0 0], Predicted: [0.7906155 0.8593078 1.5287442]
Actual: [0 0 0], Predicted: [0.83715194 1.1220804  1.2877178 ]
Actual: [0 0 0], Predicted: [0.83546966 0.9097991  1.6020999 ]
Actual: [0 0 0], Predicted: [0.85521954 1.1449319  1.2995394 ]
Actual: [0 0 0], Predicted: [0.9852899 1.2312182 1.492128 ]
Actual: [0 0 0], Predicted: [0.72936887 1.0343468  1.1658329 ]
Actual: [0 0 0], Predicted: [0.61559176 0.9690136  1.0165523 ]
Actual: [0 0 0], Predicted: [1.0147069 1.2577479 1.5352842]
Actual: [0 0 0], Predicted: [0.9920855 1.0731993 1.551468 ]
Actual: [0 0 0], Predicted: [0.49664864 0.5242134  1.6879176 ]
Actual: [0 0 0], Predicted: [0.9879583 1.214485  1.4897202]
Actual: [0 0 0], Predicted: [0.6897281 1.001195  1.117825 ]
Actual: [0 0 0], Predicted: [0.8446964  0.89289224 1.8509647 ]
Actual: [0 0 0], Predicted: [0.64114356 0.9697583  1.0466218 ]
Actual: [0 0 0], Predicted: [0.38129696 0.6755942  3.0127146 ]
Actual: [0 0 0], Predicted: [0.8734139 0.9179231 1.9047724]
Actual: [0 0 0], Predicted: [0.8341559 1.1173686 1.2809377]
Actual: [0 0 0], Predicted: [0.14680937 0.44348314 2.1538305 ]
Actual: [0 0 0], Predicted: [1.0311872 1.2448919 1.5534185]
Actual: [0 0 0], Predicted: [1.1428007 1.2487961 1.7285746]
Actual: [0 0 0], Predicted: [1.0770394 1.2934985 1.6153651]
Actual: [0 0 0], Predicted: [0.67103666 0.69781244 1.657189  ]
Actual: [0 0 0], Predicted: [0.88188076 1.1676193  1.3519819 ]
Actual: [0 0 0], Predicted: [0.11147466 0.4936434  2.4031765 ]
Actual: [0 0 0], Predicted: [0.78452975 1.0795596  1.2343199 ]
Actual: [0 0 0], Predicted: [1.0260625 1.09958   1.7581476]
Actual: [0 0 0], Predicted: [1.1360523 1.2129319 1.7836808]
Actual: [0 0 0], Predicted: [0.94828254 1.2354019  1.4949943 ]
Actual: [0 0 0], Predicted: [0.8975129 0.8522103 4.1948776]
Actual: [0 0 0], Predicted: [0.5533162 0.5656813 1.7818581]
Actual: [0 0 0], Predicted: [0.20185503 0.48583937 2.238619  ]
Actual: [0 0 0], Predicted: [0.9924584 1.0271173 2.1195045]
Actual: [0 0 0], Predicted: [-0.2534754   0.35273907  2.3149917 ]
Actual: [0 0 0], Predicted: [1.1514218 1.3453004 1.7333192]
Actual: [0 0 0], Predicted: [0.8058431 0.8761715 1.6005965]
Actual: [0 0 0], Predicted: [0.97358793 1.0779411  1.4839805 ]
Actual: [0 0 0], Predicted: [0.97939783 1.2685701  1.5007795 ]
Actual: [0 0 0], Predicted: [0.57655174 0.57809    1.6046644 ]
Actual: [0 0 0], Predicted: [0.8679661 1.147191  1.32507  ]
Actual: [0 0 0], Predicted: [0.8072264 1.0973527 1.2588242]
Actual: [0 0 0], Predicted: [0.94529533 1.2337193  1.4352065 ]
Actual: [0 0 0], Predicted: [0.9605132 1.250202  1.4589427]
Actual: [0 0 0], Predicted: [0.6345528 0.7491517 2.6884134]
Actual: [0 0 0], Predicted: [0.9699859 1.040355  1.5766655]
Actual: [0 0 0], Predicted: [0.6747027  0.67296743 1.7294577 ]
Actual: [0 0 0], Predicted: [0.8988083 1.184523  1.3849639]
Actual: [0 0 0], Predicted: [0.63476664 0.6320418  1.8921021 ]
Actual: [0 0 0], Predicted: [1.0379567 1.2288616 1.5540823]
Actual: [0 0 0], Predicted: [0.67063814 0.9888711  1.0826355 ]
Actual: [0 0 0], Predicted: [0.52161473 0.5436786  1.8537635 ]
Actual: [0 0 0], Predicted: [1.2746857 1.3348795 2.2213209]
Actual: [0 0 0], Predicted: [-0.58318865  0.29928592  2.4626288 ]
Actual: [0 0 0], Predicted: [-0.69068265  0.2574155   2.3990793 ]
Actual: [0 0 0], Predicted: [0.40352902 0.4757812  1.9055802 ]
Actual: [0 0 0], Predicted: [1.1217618 1.3094158 1.6829313]
Actual: [0 0 0], Predicted: [0.6713266 0.9868946 1.097823 ]

In [449]:
test_loss = model.evaluate(X_test, y_test)
print(f'Test Loss (MSE): {test_loss}')

y_pred = model.predict(X_test)

mse_gold = mean_squared_error(y_test[:, 0], y_pred[:, 0])
mse_silver = mean_squared_error(y_test[:, 1], y_pred[:, 1])
mse_bronze = mean_squared_error(y_test[:, 2], y_pred[:, 2])
rmse_gold = np.sqrt(mse_gold)
rmse_silver = np.sqrt(mse_silver)
rmse_bronze = np.sqrt(mse_bronze)
mae_gold = mean_absolute_error(y_test[:, 0], y_pred[:, 0])
mae_silver = mean_absolute_error(y_test[:, 1], y_pred[:, 1])
mae_bronze = mean_absolute_error(y_test[:, 2], y_pred[:, 2])
r2_gold = r2_score(y_test[:, 0], y_pred[:, 0])
r2_silver = r2_score(y_test[:, 1], y_pred[:, 1])
r2_bronze = r2_score(y_test[:, 2], y_pred[:, 2])

print(f'Mean Squared Error (Gold): {mse_gold}')
print(f'Mean Squared Error (Silver): {mse_silver}')
print(f'Mean Squared Error (Bronze): {mse_bronze}')
print(f'Root Mean Squared Error (Gold): {rmse_gold}')
print(f'Root Mean Squared Error (Silver): {rmse_silver}')
print(f'Root Mean Squared Error (Bronze): {rmse_bronze}')
print(f'Mean Absolute Error (Gold): {mae_gold}')
print(f'Mean Absolute Error (Silver): {mae_silver}')
print(f'Mean Absolute Error (Bronze): {mae_bronze}')
print(f'R-squared (Gold): {r2_gold}')
print(f'R-squared (Silver): {r2_silver}')
print(f'R-squared (Bronze): {r2_bronze}')

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 13.2124
Test Loss (MSE): 6.860778331756592
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step
Mean Squared Error (Gold): 6.4142449985231655
Mean Squared Error (Silver): 4.578687642326392
Mean Squared Error (Bronze): 9.58940286044653
Root Mean Squared Error (Gold): 2.532635978288859
Root Mean Squared Error (Silver): 2.1397868217012626
Root Mean Squared Error (Bronze): 3.096676098730142
Mean Absolute Error (Gold): 1.357610200591227
Mean Absolute Error (Silver): 1.322379412327675
Mean Absolute Error (Bronze): 2.1728209349069187
R-squared (Gold): 0.6557580232620239
R-squared (Silver): 0.7154277563095093
R-squared (Bronze): 0.5128386616706848